// * Variables for adaptive
$pc: 81.875em; // 1310px
$tablet: 61.99875em; // 991.98px
$mobile: 47.99875em; // 767.98px
$mobileSmall: 29.99875em; // 479.98px

// =======================================================================================================
// * Variables for project
// * fonts
$secondFont: Montserrat;

// * colors
// darks colors
$mainBlackColor: #101010;
$mainDarkColor: #34312D;
$bannerColor: #131313;
// grey colors
$maindarkGreyColor: #2E2E2E;
$mainGreyColor: #4C4C4C;
$greyTwoColor: #777777;
$lightGreyColor: #B3B3B3;
$greyThreeColor: #E5E5E5;
// darks colors
$mainRedColor: #F53A20;
$mainGreenColor: #4D932C;
$mainWhiteColor: #FFFFFF;
// orange colors
$mainOrangeColor: #F57520;
$orangeTwoColor: #EB6B16;
$orangeThreeColor: #E1610C;
$orangeFourColor: #D75702;
$orangeBg: #F57F2A;
// bg
$bgColor: #F8F8F8;
$itemBgColor: #2E2E2E;