// * import functions
@use 'tools/functions' as func;
// * import variables
@use 'tools/variables' as var;

// =======================================================================================================
// * Для общих стилей
.logo {
    display: inline-block;

    @media (max-width: var.$mobile) {
        width: func.rem(65);
        height: func.rem(35);
    }

    &_margin {
        display: inline-block;

        &:not(:last-child) {
            margin: func.rem(0) func.rem(0) func.rem(50) func.rem(0);
        }

        @media (max-width: var.$tablet) {
            &:not(:last-child) {
                margin: func.rem(0) func.rem(0) func.rem(30) func.rem(0);
            }
        }
    }
}

// =======================================================================================================
.catalog-menu {

    @media (max-width: var.$tablet) {
        display: none;
    }

    &_burger {
        display: none;

        @media (max-width: var.$tablet) {
            display: block;

            &:not(:last-child) {
                margin: func.rem(0) func.rem(0) func.rem(15) func.rem(0);
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: func.rem(30);
        row-gap: func.rem(10);

        &_burger {
            flex-direction: column;
            align-items: start;
        }
    }

    &__item {}

    &__link {
        color: var.$mainWhiteColor;
        line-height: func.part(20, 16);
        text-transform: uppercase;
        font-size: func.rem(16);
        transition: color 0.5s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: var.$mainOrangeColor;
            }
        }

        &_burger {
            font-size: func.rem(18);
            line-height: func.part(28, 18);
            font-weight: 500;
            color: var.$mainBlackColor;

            @media (max-width: var.$mobile) {
                text-transform: capitalize;
            }
        }
    }
}

// =======================================================================================================
.search {
    position: absolute;
    top: func.rem(40);
    right: 0;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease 0s;
    min-width: func.rem(260);

    @media (max-width: var.$mobile) {
        left: func.rem(-80);
    }

    &._active {
        opacity: 1;
        visibility: visible;
    }
}

// =======================================================================================================
.main-form {
    position: relative;

    &__input {
        width: 100%;
        padding: func.rem(13) func.rem(16);
        border: func.rem(2) solid var.$mainGreyColor;
        border-radius: func.rem(5);
        background-color: var.$mainBlackColor;
        color: var.$greyTwoColor;
        font-size: func.rem(16);
        line-height: func.part(20, 16);

        &::placeholder {
            color: var.$greyTwoColor;
            font-size: func.rem(16);
            line-height: func.part(20, 16);
        }

        &_search {
            min-width: func.rem(260);
            padding: func.rem(13) func.rem(50) func.rem(13) func.rem(16);
        }

        &_white {
            background-color: var.$mainWhiteColor;
            border: 0;
        }
    }

    &__search-button {
        padding: func.rem(12) func.rem(8);
        background-color: transparent;
        position: absolute;
        top: 50%;
        right: func.rem(8);
        transform: translateY(-50%);
    }

    &__search-icon {
        display: block;
        width: func.rem(22);
        height: func.rem(22);
        stroke: var.$greyTwoColor;
        stroke-width: 1.5;
        pointer-events: none;
    }

    &__inner {
        display: flex;
        align-items: center;
        gap: func.rem(16);

        &:not(:last-child) {
            margin: func.rem(0) func.rem(0) func.rem(15) func.rem(0);
        }

        @media (max-width: var.$mobile) {
            flex-direction: column;
        }
    }

    &__button {

        @media (max-width: var.$mobile) {
            width: 100%;
        }
    }

    &__label {
        display: inline-flex;
        align-items: center;
        gap: func.rem(16);
    }

    &__checkbox {}

    &__checkbox-custom {
        flex-shrink: 0;
    }

    &__checkbox-info {
        line-height: func.part(20, 16);
        color: var.$mainWhiteColor;
    }
}

// =======================================================================================================
.spoller-menu {
    position: relative;

    &__button {
        background-color: transparent;
        color: var.$mainWhiteColor;
        line-height: func.part(20, 16);
        text-transform: uppercase;
        font-size: func.rem(16);
        transition: color 0.5s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: var.$mainOrangeColor;
            }
        }

        &_burger {
            font-size: func.rem(18);
            line-height: func.part(28, 18);
            font-weight: 500;
            color: var.$mainBlackColor;

            @media (max-width: var.$mobile) {
                text-transform: capitalize;
            }
        }
    }

    &__body {
        position: absolute;
        top: func.rem(30);
        left: 35%;
        transform: translateX(-35%);
        z-index: 5;

        &_bg {
            background-color: var.$mainBlackColor;
        }

        &._active {}

        &_burger {
            position: relative;
            top: 0;
            left: 0;
            transform: translateX(0);

            &._active {
                background-color: var.$mainWhiteColor;
                color: var.$mainGreyColor;
                border: 0;
                padding: func.rem(25) func.rem(16);
            }
        }
    }

    &__inner {}

    &__menu {}

    &__list {
        display: grid;
        grid-template-columns: repeat(2, func.rem(300));
        gap: 0;
        transition: gap 0.5s ease-in 0s;

        &._active {
            gap: func.rem(25);
            margin: func.rem(0) func.rem(0) func.rem(50) func.rem(0);
        }

        &_burger {
            grid-template-columns: 1fr;

            &._active {
                gap: func.rem(15);
                margin: func.rem(0) func.rem(0) func.rem(15) func.rem(0);
            }
        }
    }

    &__item {}

    &__link {
        text-transform: uppercase;
        font-size: func.rem(16);

        @media (any-hover: hover) {
            &:hover {
                color: var.$mainOrangeColor;
            }
        }

        @media (max-width: var.$mobile) {
            text-transform: capitalize;
        }

        &_more {
            display: flex;
            justify-content: center;
        }

        &_burger {
            justify-content: start;
        }
    }
}

// =======================================================================================================
.main-text {
    font-weight: 300;
    font-size: func.rem(18);
    line-height: func.part(28, 18);
    color: var.$mainWhiteColor;
}

// =======================================================================================================
.button {
    display: inline-block;
    background-color: var.$mainOrangeColor;
    border-radius: func.rem(10);
    padding: func.rem(16) func.rem(45);
    color: var.$mainWhiteColor;
    font-weight: 500;
    font-size: func.rem(16);
    line-height: func.part(20, 16);
    text-align: center;
    transition: background-color 0.5s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            background-color: var.$orangeBg;
        }

        &:active {
            background-color: var.$orangeThreeColor;
        }
    }

    &_one-click {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: func.rem(10);
    }

    &__icon {
        display: block;
        width: func.rem(25);
        height: func.rem(25);
    }

    &_border {
        width: 100%;
        background-color: var.$mainWhiteColor;
        color: var.$mainBlackColor;
        border: func.rem(2) solid var.$greyThreeColor;
        transition: color .7s ease 0s, background-color .7s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                background-color: var.$mainBlackColor;
                color: var.$mainWhiteColor;
            }
        }
    }
}

// =======================================================================================================
.section-title {
    font-family: var.$secondFont;
    font-weight: 600;
    font-size: func.rem(45);
    line-height: func.part(55, 45);
    color: var.$mainBlackColor;
    text-transform: uppercase;

    @media (max-width: var.$mobile) {
        font-size: func.rem(32);
    }

    @media (max-width: var.$mobileSmall) {
        font-size: func.rem(30);
    }
}

// =======================================================================================================
// стили слайдера
.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.swiper-button-prev {
    color: var.$mainBlackColor !important;
    width: func.rem(53) !important;
    height: func.rem(53) !important;
    background-color: var.$mainBlackColor !important;
    border-radius: 50% !important;
    color: var.$mainWhiteColor !important;
    transition: color 0.5s ease 0s, background-color 0.5s ease 0s;

    &::after {
        font-size: func.rem(30) !important;
    }
}

.swiper-button-next {
    color: var.$mainBlackColor !important;
    width: func.rem(53) !important;
    height: func.rem(53) !important;
    background-color: var.$mainBlackColor !important;
    border-radius: 50% !important;
    color: var.$mainWhiteColor !important;
    transition: color 0.5s ease 0s, background-color 0.5s ease 0s;

    &::after {
        font-size: func.rem(30) !important;
    }
}

.swiper-button-disabled {
    background-color: transparent !important;
    color: var.$mainBlackColor !important;
}

// =======================================================================================================
.product-card {
    background-color: var.$mainWhiteColor;
    border-radius: func.rem(10);
    display: flex;
    flex-direction: column;
    gap: func.rem(20);
    padding: func.rem(18) func.rem(16);
    position: relative;

    &__image {
        display: block;
        padding: func.rem(0) func.rem(0) 78% func.rem(0);

        img {}
    }

    &__title-link {
        display: inline-block;
        flex: 1 1 auto;
        color: var.$mainBlackColor;
    }

    &__title {
        font-weight: 300;
        font-size: func.rem(18);
        line-height: func.part(28, 18);
        color: var.$mainBlackColor;
        transition: color 0.5s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: var.$mainOrangeColor;
            }
        }
    }

    &__price {
        display: inline-block;
        color: var.$greyTwoColor;
        font-weight: 500;
        line-height: func.part(20, 16);
    }

    &__flag {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        border-top-left-radius: func.rem(10);
        border-bottom-right-radius: func.rem(10);
    }

    &__status {
        display: inline-block;
        line-height: func.part(20, 16);
        color: var.$mainGreenColor;
        position: absolute;
        top: func.rem(16);
        right: func.rem(16);
        z-index: 5;

        &_red {
            color: var.$mainRedColor;
        }
    }

    &__button {}
}

// =======================================================================================================
.two-slider {

    &__swiper {}

    &__slide {}
}

// =======================================================================================================
.review {
    background-color: var.$mainBlackColor;
    border-radius: func.rem(20);

    &__img {
        display: block;
        padding: func.rem(0) func.rem(0) func.prc(195, 400) func.rem(0);

        img {
            border-radius: func.rem(20) func.rem(20) 0px 0px;
        }
    }

    &__time {
        display: block;
        color: var.$mainWhiteColor;
        line-height: func.part(20, 16);
    }

    &__review {
        display: block;
        color: var.$mainOrangeColor;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: func.rem(10);
        padding: func.rem(25) func.rem(20) func.rem(35) func.rem(20);
    }

    &__link-title {
        flex: 1 1 auto;
        font-size: func.rem(18);
        line-height: func.part(22, 18);
        color: var.$mainWhiteColor;
        transition: color .7s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: var.$mainOrangeColor;
            }
        }
    }

    &__title {}

    &__more {
        display: inline-block;
        color: var.$mainWhiteColor;
        transition: color .7s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: var.$mainOrangeColor;
            }
        }
    }
}

// =======================================================================================================
// *common for catalog page and next
.page-header {
    padding: func.rem(105) func.rem(0) func.rem(0) func.rem(0);

    &__container {}

    &__inner {
        padding: func.rem(50) func.rem(0) func.rem(65) func.rem(0);
        background: center/ cover no-repeat url("../img/general/catalog-bg-bikes.jpg");

        @media (max-width: var.$tablet) {
            padding: func.rem(30) func.rem(0) func.rem(45) func.rem(0);
        }

        @media (max-width: var.$mobile) {
            padding: func.rem(16) func.rem(0) func.rem(30) func.rem(0);
        }
    }

    &__wrapper {
        padding: func.rem(50) func.rem(0) func.rem(65) func.rem(0);

        @media (max-width: var.$tablet) {
            padding: func.rem(30) func.rem(0) func.rem(45) func.rem(0);
        }

        @media (max-width: var.$mobile) {
            padding: func.rem(16) func.rem(0) func.rem(32) func.rem(0);
        }
    }

    &__title {
        font-size: func.rem(45);
        line-height: func.part(60, 45);
        color: var.$mainWhiteColor;

        @media (max-width: var.$mobile) {
            font-size: func.rem(34);
        }
    }
}

.breadbcrumbs {

    &_margin {
        margin: func.rem(0) func.rem(0) func.rem(40) func.rem(0);

        @media (max-width: var.$tablet) {
            margin: func.rem(0) func.rem(0) func.rem(20) func.rem(0);
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: func.rem(5);
    }

    &__item {}

    &__link {
        line-height: func.part(20, 16);
        color: var.$mainWhiteColor;
        transition: color 0.5s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: var.$mainOrangeColor;
            }
        }

        &_grey {
            color: var.$greyTwoColor;
        }
    }

    &__current {
        color: var.$mainOrangeColor;
    }
}

// =======================================================================================================
.radio-choice {
    display: grid;
    grid-template-columns: repeat(auto-fit, func.rem(32));
    justify-items: center;
    gap: func.rem(10);

    &_legend {
        margin: func.rem(0) func.rem(0) func.rem(20) func.rem(0);
    }

    &__label {}

    &__radio {}

    &__radio-custom {

        &_yellow {
            background-color: #FFD536;
        }

        &_green {
            background-color: #0D7F19;
        }

        &_blue {
            background-color: #0026F9;
        }

        &_black {
            background-color: #000000;
        }

        &_aqua {
            background-color: #44ACFB;
        }

        &_grey {
            background-color: #BDBDBD;
        }

        &_orange {
            background-color: #FEA32A;
        }

        &_pink {
            background-color: #FEC0CB;
        }

        &_black-grey {
            background-color: #7F7F7F;
        }

        &_light-green {
            background-color: #25FD3C;
        }

        &_red {
            background-color: #FD0012;
        }
    }
}

// =======================================================================================================
// range styles
.noUi-connects {
    background: var.$greyThreeColor !important;
}

.noUi-connect {
    background: var.$mainBlackColor !important;
}

.noUi-horizontal {
    height: func.rem(12) !important;
}

.noUi-handle {
    cursor: pointer !important;
    border: none !important;
    border-radius: 50% !important;
    background: var.$mainBlackColor !important;
    box-shadow: none !important;
    width: func.rem(20) !important;
    height: func.rem(20) !important;

    &::before {
        width: func.rem(10) !important;
        height: func.rem(10) !important;
        background: var.$mainWhiteColor !important;
        border-radius: 50% !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }

    &::after {
        display: none !important;
    }
}

// =======================================================================================================
.social {
    display: flex;
    align-items: center;
    gap: func.rem(8);

    &__item {}

    &__link {

        @media (any-hover: hover) {
            &:hover .social__icon {
                fill: var.$mainGreyColor;
            }
        }
    }

    &__icon {
        display: block;
        width: func.rem(32);
        height: func.rem(32);
        fill: var.$greyThreeColor;
        pointer-events: none;
        transition: fill 0.5s ease 0s;
    }
}